/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
@font-face {
    font-family: yugothic;
    src: url("/static/css/yugothic.ttf");
}

body {
    padding-top: 50px;
    font-family: yugothic;
}

/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Main content
 */

#logo{
    float: right;
    margin-top: -38px;
}

.letra_azul{
    color: #72A7CF;
}

.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

/*
* Modificaciones posteriores
*/

/* Desplazar nombre a la derecha de la img */
.img_lista{
    padding-right: 10px;
}
/* Color al pasar sobre la fila */
.table tr:hover{
    background-color: #EEEEEE;
    cursor:pointer;
}

/* Menú emergente con botón derecho en la lista de documentos */
#menu{
    background-color: #FFFFFF;
    position:absolute;      
    border:1px solid black;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    z-index: 1;
}

#menu ul{
    list-style: none;
    list-style-type: none;
    list-style-position: outside;
}

#menu li{
    margin-left: -25px;
    padding-right: 13px;
    line-height: 30px;
    font-size: 16px;
    cursor:pointer;
}

.btn-info{
    background-color: #72A7CF;
}

/* Botones de cambiar vista de documentos */

#vista_cuadricula{
    margin-left: 2px;
}

#vista_lista{
    margin-left: 2px;
}

#vista_cuadricula:hover{
    cursor:pointer;
}

#vista_lista:hover{
    cursor:pointer;
}

/* Alinear texto en lista */
.table > tbody > tr > td {
     vertical-align: middle;
}

/* Posición del botón de opciones en la fila */
.btn-group{
    margin-top: -17px;
    position: absolute;
}

/* Estilo para la vista de cuadrícula */
.cuadricula{
     margin-top: 20px
}

.cuadricula h5{
    margin-top: 2px;
}

#documento_vista_cuadricula:hover{
    cursor:pointer;
    color: #72A7CF;
}

#documento_vista_cuadricula{
    height: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Imagen usuario navbar */
.navbar-right img{
    border-radius: 50%;
    margin-right: 2px; 
    margin-bottom: -10px;
    margin-top: -10px;
}

.navbar-right .caret{
    color: #8C949B;
}

/* Vista Multimedia */

#documento_vista_multimedia{
    text-align: center;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    border-color: #72A7CF;
    margin-top: 80px;
    margin-left: 120px;
}

#documento_vista_multimedia:hover{
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    border-color: #72A7CF;
    background-color: #222222;
    color: white;
    cursor:pointer;
}

#documento_vista_multimedia img{
    margin-top: 18px;
    margin-left: 16px;
}

#documento_vista_multimedia h3{
    margin-top: -18px;
}

/* Vista Usuario */
#img_perfil{
    border-style: solid;
    border-width: 1px;
}

#img_perfil:hover{
    cursor:pointer;
}

.info_usuario{
    padding-top: 30px;
}