/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
@font-face {
    font-family: yugothic;
    src: url("/static/css/yugothic.ttf");
}

body {
    padding-top: 50px;
    font-family: yugothic;
}

/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Main content
 */

#logo{
    float: right;
    margin-top: -38px;
}

.letra_azul{
    color: #72A7CF;
}

.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

/*
* Modificaciones posteriores
*/

/* Desplazar nombre a la derecha de la img */
.img_lista{
    padding-right: 10px;
}
/* Color al pasar sobre la fila */
.table tr:hover{
    background-color: #EEEEEE;
    cursor:pointer;
}

.context-menu{
    background-color: #FFFFFF;
    border:1px solid black;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    display: none;
    position: absolute;
    z-index: 10;
}

.context-menu ul{
    list-style: none;
    list-style-type: none;
    list-style-position: outside;
}

.context-menu li{
    margin-top: 10px;
    margin-left: -22px;
    padding-right: 13px;
    font-size: 16px;
    cursor:pointer;
}

.context-menu--active{
    display: block;
}

.btn-info{
    background-color: #72A7CF;
}

/* Botones de cambiar vista de documentos */

#volver{
    margin-left: 2px;
    color: #333333;
}

#vista_cuadricula{
    margin-left: 2px;
}

#vista_lista{
    margin-left: 2px;
}

#volver:hover{
    cursor:pointer;
}

#vista_cuadricula:hover{
    cursor:pointer;
}

#vista_lista:hover{
    cursor:pointer;
}

/* Alinear texto en lista */
.table > tbody > tr > td {
     vertical-align: middle;
}

/* Posición del botón de opciones en la fila */
.btn-group{
    margin-top: -17px;
    position: absolute;
}

/* Estilo para la vista de cuadrícula */
.cuadricula{
     margin-top: 20px
}

.cuadricula h5{
    margin-top: 2px;
}

#documento_vista_cuadricula:hover{
    cursor:pointer;
    color: #72A7CF;
}

#documento_vista_cuadricula{
    height: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Imagen usuario navbar */
.navbar-right img{
    border-radius: 50%;
    margin-right: 2px; 
    margin-bottom: -10px;
    margin-top: -10px;
}

.navbar-right .caret{
    color: #8C949B;
}

/* Vista Multimedia */

#documento_vista_multimedia{
    text-align: center;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    border-color: #72A7CF;
    margin-top: 80px;
    margin-left: 120px;
}

#documento_vista_multimedia:hover{
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    border-color: #72A7CF;
    background-color: #222222;
    color: white;
    cursor:pointer;
}

#documento_vista_multimedia img{
    margin-top: 18px;
    margin-left: 16px;
}

#documento_vista_multimedia h3{
    margin-top: -18px;
}

/* Vista Usuario */
#img_perfil{
    border-style: solid;
    border-width: 1px;
}

#img_perfil:hover{
    cursor:pointer;
}

.info_usuario{
    padding-top: 30px;
}

/* Vista Compartido */
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: white;
    background-color: #72A7CF;
}

.centrar{
    text-align: center;
}

/* Vista Grupo de trabajo */
.dropdown-menu > li{
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.dropdown-menu > li:hover{
    cursor:pointer;
    color: #72A7CF;
}

.btn-group > button{
    color: white;
    background-color: #72A7CF;
}

.btn-group > button:hover{
    color: white;
    background-color: #72A7FF;
}

.glyphicon-star{
    margin-left: 10px;
    color: #72A7CF;
}

/* POP - UP para subir archivos */
.popUp{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.popUp:target{
    opacity:1;
    pointer-events: auto;
}

.popUp > div{
    width: 500px;
    position: relative;
    margin: 10% auto;
    padding: 20px;
    border-radius: 7px;
    background-color: #72A7CF;
    color: white;
    font-weight: bold;
}

.popUp ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #72A7CF;
}
.popUp :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #72A7CF;
   opacity: 1;
}
.popUp ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #72A7CF;
   opacity: 1;
}
.popUp :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #72A7CF;
}
.popUp ::-ms-input-placeholder { /* Microsoft Edge */
   color: #72A7CF;
}

#username_destino{
    color: #72A7CF; 
}

.close{
    opacity: 2;
    background: white;
    color: #72A7CF;
    line-height: 25px;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 5px;
    width: 24px;
    text-decoration: none;
    border-radius: 50%;
}

.close:hover { background: white; }

.input_file{
    color: #72A7CF;
    font-weight: bold;
}

/* SNACKBAR */
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #72A7CF;
    color: #FFFFFF;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    border-radius: 8px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}