{% extends "base_registracion.html" %}
{% load i18n %}

{% block contenido %}

	<div class="contenido_login">
		<h1>Bienvenido a DrawerCloud</h1>
		<h2>Inicia sesión</h2>
	    <form method="post" action="." class="form-group">
	        {% csrf_token %}
	        {{ form.as_p }}

	        <input type="submit" value="Log in" class="btn btn-primary"/>
	        <input type="hidden" name="next" value="{{ next }}" />
	    </form>

	    <p>¿No estás registrado? <a href="{% url 'registration_register' %}">Regístrate</a>!</p>
	    <br>
	</div>
{% endblock %}