{% extends "base_registracion.html" %}

{% block contenido %}
	<div class="contenido_login">
		<h1>Regístrate aquí</h1>
		<form method="post" action="." class="form_log_in">
			{% csrf_token %}
			
			<p><label for="id_nombre"></label>
	        <input id="id_nombre" type="text" name="nombre" placeholder="Nombre" maxlength="150" required /></p>
	        <p><label for="id_apellidos"></label>
	        <input id="id_apellidos" type="text" name="apellidos" placeholder="Apellidos" maxlength="150" required /></p>
			<p><label for="id_username"></label>
	        <input id="id_username" type="text" name="username" placeholder="Username" maxlength="100" required /></p>
	        <p><label for="id_fecha_nacimiento"></label>
	        <input id="id_fecha_nacimiento" type="date" name="fecha_nacimiento" placeholder="Fecha de nacimiento" required /></p>
	        <p><label for="id_email"></label>
	        <input id="id_email" type="email" name="email" placeholder="Email" maxlength="100" required /></p>
	        <p><label for="id_password"></label>
	        <input id="id_password" type="password" name="password" placeholder="Contraseña" maxlength="100" required /></p>
	        <p><label for="id_r_password"></label>
	        <input id="id_r_password" type="password" name="r_password" placeholder="Repita la contraseña anterior" maxlength="100" required /></p>

			<input type="submit" value="Registrarme" class="btn btn-primary"//>
			<a href="/accounts/login/" class="btn btn-primary">Atrás</a>
		</form>
	</div>
	<br>

	<script>
		$(function(){
			$fecha=$('#id_fecha');
			if ($fecha[0].type!="date"){
				$fecha.datepicker();
			}
		});
	</script>

{% endblock %}