@font-face {
    font-family: yugothic;
    src: url("/static/css/yugothic.ttf");
}

body {
    font-family: yugothic;
    background-color: white;
}

.contenido_login{
	text-align: center;
	margin-top: 30px;
}

h1{
	color: #72A7CF;
}

h2{
	color: #72A7CF;
	margin-top: 30px;
}

.navbar-fixed-top{
	text-align: center;
	height: 105px;
}

.navbar-fixed-top img{
	margin-top: -25px;
}

.no_registrado{
	font-size: 16px;
}

.no_registrado a{
	color: #72A7CF;
	font-weight: bold;
}

.no_registrado p{
	color: #72A7CF;
}

/* Carousel base class */
.carousel {
	height: 280px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
	height: 280px;
	background-color: black;
}
.carousel-inner > .item > img {
	position: relative;
	margin-top: 30px;
}