{% extends "base.html" %}
{% block cabecera %}
    <li><a href="{% url 'index' %}">Mis archivos</a></li>
    <li class="active"><a href="">Multimedia</a></li>
    <li><a href="{% url 'compartido' %}">Compartido</a></li>
    <li><a href="{% url 'favoritos' %}">Favoritos</a></li>
    <li><a href="{% url 'grupoTrabajo' %}">Grupo de trabajo</a></li>
{% endblock %}
{% block contenido_body %}

	<!-- Menú botón derecho sobre archivos -->
    <nav id="context-menu" class="context-menu">
        <ul class="context-menu__items">
            <li class="context-menu__item">
                <a href="#" class="context-menu__link" id="descargar" data-action="descargar">Descargar</a>
            </li>
            <li class="context-menu__item">
                <a href="#" class="context-menu__link" id="compartir" data-action="compartir">Compartir</a>
            </li>
            <li class="context-menu__item">
                <a href="#" class="context-menu__link" id="cambiar_nombre" data-action="cambiar_nombre"><span class='glyphicon glyphicon-edit'></span> Cambiar nombre</a>
            </li>
            <li class="context-menu__item">
                <a href="#" class="context-menu__link" id="copiar" data-action="copiar"><span class='glyphicon glyphicon-copy'></span> Copiar en</a>
            </li>
            <li class="context-menu__item">
                <a href="#" class="context-menu__link" id="mover" data-action="mover"><span class='glyphicon glyphicon-copy'></span> Mover a</a>
            </li>
            <li class="context-menu__item">
                <a href="#" class="context-menu__link" id="favorito" data-action="favorito">Añadir a favoritos</a>
            </li>
            <li class="context-menu__item">
            	<a href="#" class="context-menu__link" id="eliminar" data-action="eliminar"><span class='glyphicon glyphicon-remove'></span> Eliminar</a>
            </li>
        </ul>
    </nav>

	<!-- Añadir el botón para mostrar las opciones del menú de la derecha -->
	<p class="pull-right visible-xs">
	    <button id="bt_offcanvas" type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Mostrar opciones</button>
	</p>

	<!-- Migas de pan -->
	<ol id="breadcrumb" class="breadcrumb">
		<!-- Código insertado desde javascript  -->
	</ol>

	<div id="cambiar_vista">
	    <!-- Código insertado desde javascript  -->
	</div>

	<div id="vista_documentos" class="col-xs-10 col-md-10 col-lg-10">
	    <!-- Código insertado desde javascript  -->
	</div> <!-- vista_documentos -->

	<div class="col-xs-6 col-sm-2" id="sidebar">
		<ul class="nav nav-pills nav-stacked row-offcanvas row-offcanvas-right sidebar-offcanvas">
			<li class="active"><a href="#">Opciones</a></li>
			<li class="barra"><a href="#abrirPopUp">Subir archivo</a></li>
			<li class="barra"><a href="#abrirPopUpCrearCarpeta">Crear carpeta</a></li>
		</ul>
	</div>

	<!-- PopUp para subir un archivo -->
	<div id="abrirPopUp" class="popUp">
		<div>
			<a id="bt_close_popup" href="#close" title="Close" class="close">X</a>
			<form action="{% url 'upload' %}" method="POST" enctype="multipart/form-data" id="upload_form">
				{% csrf_token %} 
				{% if tipo_contenido == 'archivos_musica' %}
					<input type="file" name="file" class="input_file btn btn-default" accept="audio/*" required/>
				{% elif tipo_contenido == 'archivos_imagen' %}
					<input type="file" name="file" class="input_file btn btn-default" accept="image/*" required/>
				{% else %}
					<input type="file" name="file" class="input_file btn btn-default" accept="video/*" required/>
				{% endif %}
				<input type="hidden" id="pag_actual" name="pag_actual" value="contenidoMultimedia.html" />
				<input type="hidden" id="id_directorio" name="id_directorio" value="{{ directorio_actual }}" />
				<input id="bt_upload" type="submit" value="Subir archivo" class="input_file btn btn-default" />
			</form>

			<div id="barra_progreso">
				<!-- Código insertado desde javascript  -->
			</div>
			<div id="fin_upload">
				<!-- Código insertado desde javascript  -->
			</div>
		</div>
	</div>

	<!-- PopUp para crear un directorio -->
	<div id="abrirPopUpCrearCarpeta" class="popUp">
		<div>
			<a href="#close" title="Close" class="close">X</a>
			<form action="javascript:comprobarExisteDirectorio();" method="POST">
				{% csrf_token %}
				<input type="text" id="nombre_directorio" name="nombre_directorio" placeholder="Nombre de la carpeta" required/>
				<input type="hidden" id="directorio_actual" name="directorio_actual" value="{{ directorio_actual }}" />
				<input type="submit" value="Crear carpeta" class="input_file btn btn-default" />
			</form>
		</div>
	</div>

	<!-- PopUp para compartir un archivo -->
    <div id="abrirPopUpCompartir" class="popUp">
        <div>
            <a href="#close" title="Close" class="close">X</a>
            <form action="javascript:comprobarUsuarioCompartir();" method="POST">
                {% csrf_token %}
                <input type="text" id="username_destino" name="username_destino" placeholder="Username de destino" required/>
                <input type="hidden" id="id_archivo_compartir" name="id_archivo_compartir" value="" />
                <input type="submit" value="Compartir" class="input_file btn btn-default" />
            </form>
        </div>
    </div>

    <!-- PopUp para eliminar un archivo -->
	<div id="abrirPopUpEliminar" class="popUp">
		<div>
			<a href="#close" title="Close" class="close">X</a>
			<form action="javascript:eliminarArchivo();" method="POST">
				{% csrf_token %}
				<label>¿Realmente desea eliminar el archivo?</label>
				<label>Atención: se eliminará de tu espacio permanentemente</label>
				<input type="hidden" id="id_archivo_eliminar" name="id_archivo_eliminar" value="" />
				<input type="submit" value="Eliminar" class="input_file btn btn-default" />
			</form>
		</div>
	</div>

	<!-- PopUp para eliminar un directorio -->
	<div id="abrirPopUpEliminarDirectorio" class="popUp">
		<div>
			<a href="#close" title="Close" class="close">X</a>
			<form action="javascript:eliminarDirectorio();" method="POST">
				{% csrf_token %}
				<label>¿Realmente desea eliminar el directorio y todo su contenido?</label>
				<label>Atención: se eliminará de tu espacio permanentemente</label>
				<input type="hidden" id="id_directorio_eliminar" name="id_directorio_eliminar" value="" />
				<input type="submit" value="Eliminar" class="input_file btn btn-default" />
			</form>
		</div>
	</div>

	<!-- PopUp para ver los directorios del usuario posibles para mover -->
	<div id="abrirPopUpMoverA" class="popUp">
		<div>
			<a href="#close" title="Close" class="close">X</a>
			<label id="label_mover"></label>
			<ul id="ver_directorios_mover" class="moverA">
				<!-- Código insertado desde javascript -->
			</ul>
		</div>
	</div>

	<!-- PopUp para ver los directorios del usuario posibles para copiar -->
	<div id="abrirPopUpCopiarEn" class="popUp">
		<div>
			<a href="#close" title="Close" class="close">X</a>
			<label id="label_mover"></label>
			<ul id="ver_directorios_copiar" class="moverA">
				<!-- Código insertado desde javascript -->
			</ul>
		</div>
	</div>

    <!-- PopUp para cambir nombre a un directorio/archivo -->
	<div id="abrirPopUpCambiarNombre" class="popUp">
		<div>
			<a href="#close" title="Close" class="close">X</a>
			<form action="javascript:cambiarNombre();" method="POST">
				{% csrf_token %}
				<input type="text" id="nuevo_nombre" name="nuevo_nombre" placeholder="Introduzca un nombre nuevo" required/>
				<input type="hidden" id="id_contenido_cambiar_nombre" name="id_contenido_cambiar_nombre" value="" />
				<input type="hidden" id="tipo_contenido_cambiar_nombre" name="tipo_contenido_cambiar_nombre" value="" />
				<input type="submit" value="Cambiar nombre" class="input_file btn btn-default" />
			</form>
		</div>
	</div>

    <div id="snackbar"></div>

	<script type="text/javascript">

		var mis_archivos;
		var directorio_actual = "{{ directorio_actual }}";

		function mostrarSnackbar(texto) {
			var x = document.getElementById("snackbar")
			x.innerHTML = texto;
			x.className = "show";
			setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
		}

		/******************* VISTA DE DOCUMENTOS *******************/

	    //localStorage.setItem("modo_vista", "lista");
	    //localStorage.getItem("modo_vista");
	    actualizaVista();
	    
	    //Cambiar a vista lista
	    $("#cambiar_vista").on("click","#vista_cuadricula", function(){
	        localStorage.setItem("modo_vista", "cuadricula");
	        actualizaVista();
	    });

	    //Cambiar a vista cuadrícula
	    $("#cambiar_vista").on("click","#vista_lista", function(){
	        localStorage.setItem("modo_vista", "lista");
	        actualizaVista();
	    });



	    function actualizaVista(){
			var html = "";
	        var username = "{{ usuario.username }}";
	        document.getElementById("fin_upload").innerHTML = "";
	        document.getElementById("barra_progreso").innerHTML = "";
	        document.getElementById("breadcrumb").innerHTML = "";
	        actualizarBreadcrumb();
			getArchivos(username);
	    }

	    //Actualizar el breadcrumb
	    function actualizarBreadcrumb(){
	    	$.ajax({
	            url : "{% url 'actualizarBreadcrumb' %}",
	            data : {
	                id_directorio: directorio_actual,
	                pag_actual: "contenidoMultimedia.html"
	            },
	            type : 'GET',
	            dataType: 'json',
	            success : function(datos){
	            	document.getElementById("breadcrumb").innerHTML += "" +
		            			"<li><a href='{% url 'multimedia' %}'>Multimedia</a></li>";
		            var contador = 0;
	            	for(var i in datos){
	            		if(contador == (Object.keys(datos).length - 1)){
		            		document.getElementById("breadcrumb").innerHTML += "" +
		            			"<li>" + datos[i][1] + "</li>";
	            		}
		            	else{
		            		document.getElementById("breadcrumb").innerHTML += "" +
		            			"<li><a href='{% url 'contenidoMultimedia' %}?tipo_contenido={{ tipo_contenido }}&directorio_actual= " + datos[i][0] + "'>" + datos[i][1] + "</a></li>";
		            	}
		            	contador++;
	            	}
	            },
	            failure : function(datos){
	                alert("Error: no se pudo realizar la consulta");
	            },
	            complete : function(datos) {
	                console.log('Petición realizada');
	            }
	     	});
	    }

	    //Función que se encarga de pedir y recibir los archivos del usuario
	    function getArchivos(_username) {
	    	var tipo_contenido = "{{ tipo_contenido }}";
	        $.ajax({
	            url : "{% url 'contenidoMultimediaAjax' %}",
	            data : {
	                tipo_contenido: tipo_contenido,
	                id_directorio: directorio_actual
	            },
	            type : 'GET',
	            dataType: 'json',
	            success : function(datos){
	            	var html = "";
					if (localStorage.getItem("modo_vista") == "cuadricula"){
						html += "<span id='vista_lista' title='ver lista' class='glyphicon glyphicon-th-list'></span>";
						vistaCuadricula(datos);
					}
					else{ 
						html += "<span id='vista_cuadricula' title='ver iconos' class='glyphicon glyphicon-th-large'></span>";
						vistaLista(datos);
					}

					document.getElementById('cambiar_vista').innerHTML = html;
	            },
	            failure : function(datos){
	                alert("Error: no se pudo realizar la consulta");
	            },
	            complete : function(datos) {
	                console.log('Petición realizada');
	            }
	     	});
	    }

	    function vistaCuadricula(datos){
	    	mis_archivos = datos;
	        var html = "" +
	            "<div class='container-fluid cuadricula'>" +
	                "<div class='row'>";
	                // MOSTRAR LOS DIRECTORIOS
	                for(var i in datos[0]){

	                    html += "<div id='documento_vista_cuadricula' class='col-xs-4 col-md-3 col-lg-2'>" +
	                        "<div id='d" + datos[0][i][0] + "' class='task' title='" + datos[0][i][1] + "'>" +
	                            "<img id='d" + datos[0][i][0] + "' src='/static/images/files_icons/folder.png'>" +
	                            "<h5 id='d" + datos[0][i][0] + "'>" + datos[0][i][1] + "</h5>" +
	                        "</div>" +
	                    "</div>";
	                }
	                // MOSTRAR LOS ARCHIVOS
	                for(var i in datos[1]){
	                    var tipo_archivo = comprobarExtension(datos[1][i][2], "cuadricula");
	                    var favorito = "";
	                    if(datos[1][i][5] == true)
	                    	favorito = "<span class='glyphicon glyphicon-star'></span>";

	                    html += "<div id='documento_vista_cuadricula' class='col-xs-4 col-md-3 col-lg-2'>" +
	                        "<div id='a" + datos[1][i][0] + "' class='task' title='" + datos[1][i][1] + "'>" +
	                            "<img id='a" + datos[1][i][0] + "' src='" + tipo_archivo + "'>" +
	                            "<h5 id='a" + datos[1][i][0] + "'>" + datos[1][i][1] + "" + favorito + "</h5>" +
	                        "</div>" +
	                    "</div>";
	                }
	                html += "</div>" +
	            "</div> <!--> <!-- container -->";

	        document.getElementById('vista_documentos').innerHTML = html;

	        //Acción al pulsar sobre un documento
	        $("#documento_vista_cuadricula div").click(function( event ) {
	            var id = this.id;
	        	if(id != 0){
	        		id_string = id.toString();
	        		if(id_string[0] == 'a'){
	        			id = Number(id_string.replace('a',''));
	        			window.location = document.getElementById(id_string).href = "{% url 'verArchivo' %}?id_archivo=" + datos[1][id][0];
	        		}
	        		else{
	        			id = Number(id_string.replace('d',''));
	        			window.location = document.getElementById(id_string).href = "{% url 'contenidoMultimedia' %}?tipo_contenido={{ tipo_contenido }}&directorio_actual=" + id;
	        		}
	        	}
	        });
	    }

	    function vistaLista(datos){
	    	mis_archivos = datos;
	        var html = "" +
	            "<div class='table-responsive'>" +
	                "<table id='tabla' class='table'>" +
	                    "<thead>" +
	                        "<tr>" +
	                            "<th>Nombre archivo</th>" +
	                            "<th>Tamaño</th>" +
	                            "<th>Última modificación</th>" +
	                            "<th class='hidden-xs'>Opciones</th>" +
	                        "</tr>" +
	                    "</thead>" +
	                    "<tbody>";
	                    // MOSTRAR LOS DIRECTORIOS
	                    for(var i in datos[0]){
	                    	var favorito = "";

	                        html += "<tr id='d" + datos[0][i][0] + "' class='task' >" +
	                            "<td id='d" + datos[0][i][0] + "'><img src='/static/images/files_icons/folder_lista.png' class='img-rounded img_lista'>" + datos[0][i][1] + "</td>" +
	                            "<td id='d" + datos[0][i][0] + "' class='center'></td>" +
	                            "<td id='d" + datos[0][i][0] + "' class='center'></td>" +
	                            "<td class='hidden-xs'>" +
	                                "<div class='btn-group'>" +
	                                    "<button type='button' class='btn btn-info dropdown-toggle' data-toggle='dropdown'>" +
	                                    "Más <span class='caret'></span>" +
	                                    "</button>" +
	                                    "<ul class='dropdown-menu' role='menu'>" +
	                                        "<li><a href='#abrirPopUpCambiarNombre' onclick='abrirCambiarNombre(" + datos[0][i][0] + ", 0); return false;'>Cambiar nombre</a></li>" +
	                                        "<li><a href='#abrirPopUpCopiarEn' onclick='getDirectoriosCopiar(" + datos[0][i][0] + ", 0);'>Copiar en</a></li>" +
	                                        "<li><a href='#abrirPopUpMoverA' onclick='getDirectoriosMoverDirectorio(" + datos[0][i][0] + ");'>Mover a</a></li>" +
	                                        "<li><a href='#abrirPopUpEliminarDirectorio' onclick='comprobarEliminarDirectorio(" + datos[0][i][0] + "); return false;'>Eliminar</a></li>" +
	                                    "</ul>" +
	                                "</div>" +
	                            "</td>" +
	                        "</tr>";
	                    }
	                    // MOSTRAR LOS ARCHIVOS
	                    for(var i in datos[1]){
	                    	var tipo_archivo = comprobarExtension(datos[1][i][2], "lista");
	                    	var favorito = "";
	                    	if(datos[1][i][5] == true)
	                    		favorito = "<span id='fav' class='glyphicon glyphicon-star'></span>";

	                        html += "<tr id='a" + datos[1][i][0] + "' class='task' >" +
	                            "<td id='a" + datos[1][i][0] + "'><img src='" + tipo_archivo + "' class='img-rounded img_lista'>" + datos[1][i][1] + "" + favorito + "</td>" +
	                            "<td id='a" + datos[1][i][0] + "' class='center'>" + mostrarTam(datos[1][i][4]) + "</td>" +
	                            "<td id='a" + datos[1][i][0] + "' class='center'>" + datos[1][i][3] + "</td>" +
	                            "<td class='hidden-xs'>" +
	                                "<div class='btn-group'>" +
	                                    "<button type='button' class='btn btn-info dropdown-toggle' data-toggle='dropdown'>" +
	                                    "Más <span class='caret'></span>" +
	                                    "</button>" +
	                                    "<ul class='dropdown-menu' role='menu'>" +
	                                        "<li><a href='{% url 'descargarArchivo' %}?id_archivo=" + datos[1][i][0] + "'><span class='glyphicon glyphicon-cloud-download'></span> Descargar</a></li>" +
	                                        "<li><a href='#abrirPopUpCompartir' onclick='compartirArchivo(" + datos[1][i][0] + "); return false;'><span class='glyphicon glyphicon-share-alt'></span> Compartir</a></li>" +
	                                        "<li><a href='#abrirPopUpCambiarNombre' onclick='abrirCambiarNombre(" + datos[1][i][0] + ", 1); return false;'><span class='glyphicon glyphicon-edit'></span> Cambiar nombre</a></li>" +
	                                        "<li><a href='#abrirPopUpCopiarEn' onclick='getDirectoriosCopiar(" + datos[1][i][0] + ", 1);'><span class='glyphicon glyphicon-copy'></span> Copiar en</a></li>" +
	                                        "<li><a href='#abrirPopUpMoverA' onclick='getDirectoriosMoverArchivo(" + datos[1][i][0] + ");'><span class='glyphicon glyphicon-copy'></span> Mover a</a></li>";
	                                        if(favorito == "")
	                                        	html += "<li><a href='{% url 'addFavoritos' %}?id_archivo=" + datos[1][i][0] + "&pag_actual=contenidoMultimedia.html&tipo_contenido={{ tipo_contenido }}&directorio_actual={{ directorio_actual }}'><span class='glyphicon glyphicon-star'></span> Añadir a favoritos</a></li>";
	                                        else
	                                        	html += "<li><a href='{% url 'delFavoritos' %}?id_archivo=" + datos[1][i][0] + "&pag_actual=contenidoMultimedia.html&tipo_contenido={{ tipo_contenido }}&directorio_actual={{ directorio_actual }}'><span class='glyphicon glyphicon-star-empty'></span> Eliminar de favoritos</a></li>";
	                                        html += "<li><a href='#abrirPopUpEliminar' onclick='comprobarEliminarArchivo(" + datos[1][i][0] + "); return false;'><span class='glyphicon glyphicon-remove'></span> Eliminar</a></li>" +
	                                    "</ul>" +
	                                "</div>" +
	                            "</td>" +
	                        "</tr>";
	                    }
	                    html += "</tbody>" +
	                "</table>" +
	            "</div> <!-- table-responsive -->";

	        document.getElementById('vista_documentos').innerHTML = html;

	        //Al pulsar sobre una fila llamamos a la función para ver/descargar el archivo
	        $("#tabla td").click(function( event ) {
	        	var id = this.id;
	        	if(id != 0){
	        		id_string = id.toString();
	        		if(id_string[0] == 'a'){
	        			id = Number(id_string.replace('a',''));
	        			window.location = document.getElementById(id_string).href = "{% url 'verArchivo' %}?id_archivo=" + datos[1][id][0];
	        		}
	        		else{
	        			id = Number(id_string.replace('d',''));
	        			window.location = document.getElementById(id_string).href = "{% url 'contenidoMultimedia' %}?tipo_contenido={{ tipo_contenido }}&directorio_actual=" + id;
	        		}
	        	}
	        });
	    }

	    //Dar formato al tamaño del archivo
	    function mostrarTam(tam){
	    	n = parseInt(tam);
	    	if(n > (1204 * 1024 * 1024)){
	    		n = n / (1204 * 1024 * 1024)
	    		res = n.toString();
	    		return res.substring(0, 5) + " GB";
	    	}
	    	else if(n > (1204 * 1024)){
	    		n = n / (1204 * 1024)
	    		res = n.toString();
	    		return res.substring(0, 5) + " MB";
	    	}
	    	else if(n > 1204){
	    		n = n / 1204
	    		res = n.toString();
	    		return res.substring(0, 5) + " KB";
	    	}
	    	else{
	    		res = n.toString();
	    		return res.substring(0, 5) + " B";
	    	}
	    }

	    //Función para obtener la imagen según el tipo de documento
	    function comprobarExtension(extension, vista){
	    	resultado = "";
	    	if(vista == "lista"){
	    		if((extension == "txt") || (extension == "odt") || (extension == "doc"))
	    			resultado = "/static/images/files_icons/icon_file_txt_lista.png";
	    		else if((extension == "mp3") || (extension == "wma"))
	    			resultado = "/static/images/files_icons/icon_file_music_lista.png";
	    		else if((extension == "png") || (extension == "jpg") || (extension == "jpeg"))
	    			resultado = "/static/images/files_icons/icon_file_img_lista.png";
	    		else if((extension == "mp3") || (extension == "wma"))
	    			resultado = "/static/images/files_icons/icon_file_music_lista.png";
	    		else if((extension == "mp4") || (extension == "avi") || (extension == "mkv"))
	    			resultado = "/static/images/files_icons/icon_file_video_lista.png";
	    		else if((extension == "pptx") || (extension == "odp"))
	    			resultado = "/static/images/files_icons/icon_file_presentation_lista.png";
	    		else if(extension == "pdf")
	    			resultado = "/static/images/files_icons/icon_file_pdf_lista.png";
	    		else
	    			resultado = "/static/images/files_icons/icon_file_base_lista.png";
	    	}
	    	else{
	    		if((extension == "txt") || (extension == "odt") || (extension == "doc"))
	    			resultado = "/static/images/files_icons/icon_file_txt.png";
	    		else if((extension == "mp3") || (extension == "wma"))
	    			resultado = "/static/images/files_icons/icon_file_music.png";
	    		else if((extension == "png") || (extension == "jpg") || (extension == "jpeg"))
	    			resultado = "/static/images/files_icons/icon_file_img.png";
	    		else if((extension == "mp3") || (extension == "wma"))
	    			resultado = "/static/images/files_icons/icon_file_music.png";
	    		else if((extension == "mp4") || (extension == "avi") || (extension == "mkv"))
	    			resultado = "/static/images/files_icons/icon_file_video.png";
	    		else if((extension == "pptx") || (extension == "odp"))
	    			resultado = "/static/images/files_icons/icon_file_presentation.png";
	    		else if(extension == "pdf")
	    			resultado = "/static/images/files_icons/icon_file_pdf.png";
	    		else
	    			resultado = "/static/images/files_icons/icon_file_base.png";
	    	}

	    	return resultado;
	   	}

	   	//Llamar al popUp para compartir archivo incluyendo el ID de éste
	    function compartirArchivo(id_archivo) {
	    	document.getElementById('id_archivo_compartir').value = id_archivo;
	    	window.location=document.getElementById('abrirPopUpCompartir').href = "#abrirPopUpCompartir";
	    }

	    function comprobarUsuarioCompartir(){
	    	var username = document.getElementById('username_destino').value;
	    	var id_archivo_compartir = document.getElementById('id_archivo_compartir').value;

	    	$.ajax({
	            url : "{% url 'comprobarUsuarioCompartir' %}",
	            data : {
	                username: username
	            },
	            type : 'GET',
	            dataType: 'json',
	            success : function(datos){
					if(datos == 1){
						mostrarSnackbar("Archivo compartido con " + username);
						setTimeout(function() {
						    window.location.href = "{% url 'compartirArchivo' %}?id_archivo_compartir=" + id_archivo_compartir + 
							"&username_destino=" + username + "&pag_actual=contenidoMultimedia.html&tipo_contenido={{ tipo_contenido }}&directorio_actual={{directorio_actual}}";
						}, 1800);
					}
					else if(datos == 0){ 
						mostrarSnackbar("El usuario introducido no existe");
					}
					else{ 
						mostrarSnackbar("No puedes compartir contigo mismo");
					}
	            },
	            failure : function(datos){
	                alert("Error: no se pudo realizar la consulta");
	            },
	            complete : function(datos) {
	                console.log('Petición realizada');
	            }
	     	});
	    }

	    //Comprobar si existe el directorio que se quiere crear
	    function comprobarExisteDirectorio(){
	    	var nombre_directorio = document.getElementById('nombre_directorio').value;
	    	var directorio_actual = document.getElementById('directorio_actual').value;

	    	$.ajax({
	            url : "{% url 'comprobarExisteDirectorio' %}",
	            data : {
	                nombre_directorio: nombre_directorio,
	                directorio_actual: directorio_actual,
	                pag_actual: "contenidoMultimedia.html"
	            },
	            type : 'GET',
	            dataType: 'json',
	            success : function(datos){
					if(datos == false){
						mostrarSnackbar("Creada la carpeta \"" + nombre_directorio + "\"");
						setTimeout(function() {
						    window.location.href = "{% url 'crearDirectorio' %}?nombre_directorio=" + nombre_directorio + 
							"&directorio_actual=" + directorio_actual + "&pag_actual=contenidoMultimedia.html&tipo_contenido={{ tipo_contenido }}";
						}, 1800);
					}
					else{ 
						mostrarSnackbar("Ya existe una carpeta con el mismo nombre");
					}
	            },
	            failure : function(datos){
	                alert("Error: no se pudo realizar la consulta");
	            },
	            complete : function(datos) {
	                console.log('Petición realizada');
	            }
	     	});
	    }

	    //Obtener los directorios del usuario posibles para mover un archivo
	   	function getDirectoriosMoverArchivo(id_archivo_mover){
	   		window.location = document.getElementById('abrirPopUpMoverA').href = "#abrirPopUpMoverA";
	   		$.ajax({
	            url : "{% url 'getDirectoriosMoverArchivo' %}",
	            data : {
	                directorio_actual: directorio_actual,
	                pag_actual: "contenidoMultimedia.html",
	                tipo_contenido: "{{ tipo_contenido }}"
	            },
	            type : 'GET',
	            dataType: 'json',
	            success : function(datos){
	            	document.getElementById('ver_directorios_mover').innerHTML = "";
					for(var i in datos){
						document.getElementById('ver_directorios_mover').innerHTML += "<li id='" + datos[i][0] + "'>" + datos[i][1] + "</li>";
					}

					$("#ver_directorios_mover li").click(function( event ) {
						id_directorio_dest = this.id;
						mostrarSnackbar("Archivo movido a \"" + datos[id_directorio_dest][1] + "\"");
						setTimeout(function() {
					    	window.location.href = "{% url 'moverArchivo' %}?id_archivo=" + id_archivo_mover + "&id_directorio_dest=" + id_directorio_dest + "&pag_actual=contenidoMultimedia.html&tipo_contenido={{ tipo_contenido }}&directorio_actual=" + directorio_actual;
						}, 1800);
					});
	            },
	            failure : function(datos){
	                alert("Error: no se pudo realizar la consulta");
	            },
	            complete : function(datos) {
	                console.log('Petición realizada');
	            }
	     	});
	   	}

	   	//Obtener los directorios del usuario posibles para copiar
	   	// tipo_contenido == 0 => directorio; tipo_contenido == 1 => archivo
	   	function getDirectoriosCopiar(id_contenido_copiar, tipo_contenido){
	   		window.location = document.getElementById('abrirPopUpCopiarEn').href = "#abrirPopUpCopiarEn";
	   		$.ajax({
	            url : "{% url 'getDirectoriosCopiar' %}",
	            data : {
	            	tipo_contenido: "{{ tipo_contenido }}",
	            	pag_actual: "contenidoMultimedia.html"
	            },
	            type : 'GET',
	            dataType: 'json',
	            success : function(datos){
	            	document.getElementById('ver_directorios_copiar').innerHTML = "";
					for(var i in datos){
						document.getElementById('ver_directorios_copiar').innerHTML += "<li id='" + datos[i][0] + "'>" + datos[i][1] + "</li>";
					}

					$("#ver_directorios_copiar li").click(function( event ) {
						id_directorio_dest = this.id;
						if(!tipo_contenido)
							mostrarSnackbar("Directorio copiado en \"" + datos[id_directorio_dest][1] + "\"");
						else
							mostrarSnackbar("Archivo copiado en \"" + datos[id_directorio_dest][1] + "\"");
						setTimeout(function() {
							if(!tipo_contenido)
								window.location.href = "{% url 'copiarDirectorio' %}?id_archivo=" + id_contenido_copiar + "&id_directorio_dest=" + id_directorio_dest + "&pag_actual=contenidoMultimedia.html&tipo_contenido={{ tipo_contenido }}&directorio_actual=" + directorio_actual;
							else
						    	window.location.href = "{% url 'copiarArchivo' %}?id_archivo=" + id_contenido_copiar + "&id_directorio_dest=" + id_directorio_dest + "&pag_actual=contenidoMultimedia.html&tipo_contenido={{ tipo_contenido }}&directorio_actual=" + directorio_actual;
						}, 1800);
					});
	            },
	            failure : function(datos){
	                alert("Error: no se pudo realizar la consulta");
	            },
	            complete : function(datos) {
	                console.log('Petición realizada');
	            }
	     	});
	   	}

	   	//Obtener los directorios del usuario posibles para mover un directorio
	   	function getDirectoriosMoverDirectorio(id_directorio_mover){
	   		window.location = document.getElementById('abrirPopUpMoverA').href = "#abrirPopUpMoverA";
	   		$.ajax({
	            url : "{% url 'getDirectoriosMoverDirectorio' %}",
	            data : {
	                directorio_actual: directorio_actual,
	                directorio_seleccionado: id_directorio_mover,
	                pag_actual: "contenidoMultimedia.html",
	                tipo_contenido: "{{ tipo_contenido }}"
	            },
	            type : 'GET',
	            dataType: 'json',
	            success : function(datos){
	            	document.getElementById('ver_directorios_mover').innerHTML = "";
					for(var i in datos){
						document.getElementById('ver_directorios_mover').innerHTML += "<li id='" + datos[i][0] + "'>" + datos[i][1] + "</li>";
					}

					$("#ver_directorios_mover li").click(function( event ) {
						id_directorio_dest = this.id;
						mostrarSnackbar("Archivo movido a \"" + datos[id_directorio_dest][1] + "\"");
						setTimeout(function() {
					    	window.location.href = "{% url 'moverDirectorio' %}?id_archivo=" + id_directorio_mover + "&id_directorio_dest=" + id_directorio_dest + "&pag_actual=contenidoMultimedia.html&tipo_contenido={{ tipo_contenido }}&directorio_actual=" + directorio_actual;
						}, 1800);
					});
	            },
	            failure : function(datos){
	                alert("Error: no se pudo realizar la consulta");
	            },
	            complete : function(datos) {
	                console.log('Petición realizada');
	            }
	     	});
	   	}

	   	//Llamar al popUp para compartir archivo incluyendo el ID de éste
	    function abrirCambiarNombre(id_contenido_cambiar_nombre, tipo_contenido){
	    	document.getElementById('id_contenido_cambiar_nombre').value = id_contenido_cambiar_nombre;
	    	var tipo = "";
	   		if(!tipo_contenido)
	   			tipo = "directorio";
	   		else
	   			tipo = "archivo";
	   		document.getElementById('tipo_contenido_cambiar_nombre').value = tipo;

	    	window.location = document.getElementById('abrirPopUpCambiarNombre').href = "#abrirPopUpCambiarNombre";
	    }

	   	//Función para cambiar el nombre a un directorio/archivo
	   	function cambiarNombre(id_contenido_cambiar_nombre){
	   		var nuevo_nombre = document.getElementById("nuevo_nombre").value;
	   		var id_contenido_cambiar_nombre = document.getElementById('id_contenido_cambiar_nombre').value;
	   		var tipo = document.getElementById('tipo_contenido_cambiar_nombre').value;

	   		$.ajax({
	            url : "{% url 'cambiarNombre' %}",
	            data : {
	                nuevo_nombre: nuevo_nombre,
	                id_contenido_cambiar_nombre: id_contenido_cambiar_nombre,
	                directorio_actual, directorio_actual,
	                tipo_contenido: tipo,
	                pag_actual: "contenidoMultimedia.html"
	            },
	            type : 'GET',
	            dataType: 'json',
	            success : function(datos){
	            	mostrarSnackbar("Nombre cambiado a \"" + nuevo_nombre + "\"");
					setTimeout(function() {
				    	window.location.href = "{% url 'contenidoMultimedia' %}?tipo_contenido={{ tipo_contenido }}&directorio_actual=" + directorio_actual;
					}, 1800);
	            },
	            failure : function(datos){
	                alert("Error: no se pudo realizar la consulta");
	            },
	            complete : function(datos) {
	                console.log('Petición realizada');
	            }
	     	});
	   	}

	   	//Llamar al popUp para eliminar archivo incluyendo el ID de éste
	    function comprobarEliminarArchivo(id_archivo) {
	    	document.getElementById('id_archivo_eliminar').value = id_archivo;
	    	window.location = document.getElementById('abrirPopUpEliminar').href = "#abrirPopUpEliminar";
	    }

	    //Llamar al popUp para compartir archivo incluyendo el ID de éste
	    function comprobarEliminarDirectorio(id_directorio) {
	    	document.getElementById('id_directorio_eliminar').value = id_directorio;
	    	window.location = document.getElementById('abrirPopUpEliminarDirectorio').href = "#abrirPopUpEliminarDirectorio";
	    }

	   	//Preguntar al usuario si realmente quiere eliminar el archivo
	   	function eliminarArchivo(){
	   		var id_archivo_eliminar = document.getElementById('id_archivo_eliminar').value;
	   		mostrarSnackbar("Archivo eliminado");
	   		setTimeout(function() {
			    window.location.href = "{% url 'borrarArchivo' %}?id_archivo=" + id_archivo_eliminar + "&pag_actual=contenidoMultimedia.html&tipo_contenido={{ tipo_contenido }}&directorio_actual=" + directorio_actual;
			}, 1800);
	   		
	   	}

	   	//Preguntar al usuario si realmente quiere eliminar el archivo
	   	function eliminarDirectorio(){
	   		var id_directorio_eliminar = document.getElementById('id_directorio_eliminar').value;
	   		mostrarSnackbar("Directorio eliminado");
	   		setTimeout(function() {
			    window.location.href = "{% url 'borrarDirectorio' %}?id_directorio=" + id_directorio_eliminar + "&pag_actual=contenidoMultimedia.html&tipo_contenido={{ tipo_contenido }}&directorio_actual=" + directorio_actual;
			    alert(1);
			}, 1800);
	   		
	   	}


	   	/******************* PROGRESS BAR *******************/
	   	$('#upload_form').on( "submit", function(event) { 
			event.preventDefault();
			var proceed = true; //set proceed flag
			var error = [];	//errors
			var total_files_size = 0;
			var progress_bar_id = '#progress-wrp';
			//reset progressbar
			$(progress_bar_id +" .progress-bar").css("width", "0%");
			$(progress_bar_id + " .status").text("0%");
									
			var form_data = new FormData(this); //Creates new FormData object
			var post_url = $(this).attr("action"); //get action URL of form

			document.getElementById("barra_progreso").innerHTML = "<div id='progress-wrp'><div class='progress-bar'></div><div class='status'>0%</div></div>";
			$('#bt_close_popup').hide();

			//jQuery Ajax to Post form data
			$.ajax({
				url : post_url,
				type: "POST",
				data : form_data,
				contentType: false,
				cache: false,
				processData:false,
				xhr: function(){
					//upload Progress
					var xhr = $.ajaxSettings.xhr();
					if (xhr.upload) {
						xhr.upload.addEventListener('progress', function(event) {
							var percent = 0;
							var position = event.loaded || event.position;
							var total = event.total;
							if (event.lengthComputable) {
								percent = Math.ceil(position / total * 100);
							}
							//update progressbar
							$(progress_bar_id +" .progress-bar").css("width", + percent +"%");
							$(progress_bar_id + " .status").text(percent +"%");
						}, true);
					}
					return xhr;
				},
				mimeType:"multipart/form-data",
				complete: function (data) {
			    	document.getElementById("fin_upload").innerHTML = "<a id='bt_fin_upload' class='btn btn-default' href='{% url 'contenidoMultimedia' %}?tipo_contenido={{ tipo_contenido }}&directorio_actual=" + directorio_actual + "'>Continuar</a>";
			    	document.getElementById("barra_progreso").innerHTML = "<div class='alert alert-success'>Archivo subido con éxito</div>";
			    	$('#bt_close_popup').show();
			    }
			});
		});


	   	/******************* OPCIONES DE BOTÓN DERECHO *******************/
		(function() {

			"use strict";

			function clickInsideElement( e, className ) {
				var el = e.srcElement || e.target;

				if(el.classList.contains(className))
					return el;
				else{
					while(el = el.parentNode){
						if(el.classList && el.classList.contains(className))
							return el;
					}
				}

				return false;
			}

			//Variables
			var contextMenuClassName = "context-menu";
			var contextMenuItemClassName = "context-menu__item";
			var contextMenuLinkClassName = "context-menu__link";
			var contextMenuActive = "context-menu--active";

			var taskItemClassName = "task";
			var taskItemInContext;

			var clickCoords;
			var clickCoordsX;
			var clickCoordsY;

			var menu = document.querySelector("#context-menu");
			var menuItems = menu.querySelectorAll(".context-menu__item");
			var menuState = 0;
			var menuWidth;
			var menuHeight;
			var menuPosition;
			var menuPositionX;
			var menuPositionY;

			var windowWidth;
			var windowHeight;

			var id_item_clicked;

			function init(){
				contextListener();
				clickListener();
				keyupListener();
			}

			//Identificar donde se produce el click
			function contextListener(){
				document.addEventListener("contextmenu", function(e){
					taskItemInContext = clickInsideElement(e, taskItemClassName);
					
					id_item_clicked = e.target.id; //Donde se ha hecho click derecho

					if(id_item_clicked[0] == 'a'){
						//Si el documento está marcado como favorito
						document.getElementById("descargar").innerHTML = "<span class='glyphicon glyphicon-cloud-download'></span> Descargar";
						//document.getElementById("descargar").innerText = "Descargar";
						document.getElementById("compartir").innerHTML = "<span class='glyphicon glyphicon-share-alt'></span> Compartir";
						document.getElementById("favorito").innerHTML = "<span class='glyphicon glyphicon-star'></span> Añadir a favoritos";
						
						if(mis_archivos[1][Number(id_item_clicked.replace('a',''))][5])
							document.getElementById("favorito").innerHTML = "<span class='glyphicon glyphicon-star-empty'></span> Eliminar de favoritos";
						else
							document.getElementById("favorito").innerHTML = "<span class='glyphicon glyphicon-star'></span> Añadir a favoritos";
					}
					else{
						document.getElementById("descargar").innerText = "";
						document.getElementById("compartir").innerText = "";
						document.getElementById("favorito").innerText = "";
					}
					
					if(taskItemInContext){
						e.preventDefault();
						toggleMenuOn();
						positionMenu(e);
					}else{
						taskItemInContext = null;
						toggleMenuOff();
					}
				});
			}

			function clickListener(){
				document.addEventListener("click", function(e){
					var clickeElIsLink = clickInsideElement(e, contextMenuLinkClassName);

					if(clickeElIsLink){
						e.preventDefault();
						menuItemListener(clickeElIsLink);
					}
					else{
						var button = e.which || e.button;
						if(button == 1)
							toggleMenuOff();
					}
				});
			}

			//Cerrar menú al pulsar esc
			function keyupListener(){
				window.onkeyup = function(e) {
					if(e.keyCode == 27)
						toggleMenuOff();
				}
			}

			//Abrir menú
			function toggleMenuOn(){
				if(menuState !== 1){
					menuState = 1;
					menu.classList.add(contextMenuActive);
				}
			}

			//Cerrar menú
			function toggleMenuOff(){
				if(menuState !== 0){
					menuState = 0;
					menu.classList.remove(contextMenuActive);
				}
			}

			//Obtener la posición del menú
			function getPosition(e) {
				var posx = 0;
				var posy = 0;

				if(!e)
					var e = window.event;

				if(e.pageX || e.pageY){
					posx = e.pageX;
					posy = e.pageY;
				}
				else if(e.clientX || e.clientY){
					posx = e.clientX + document.body.scrollLeft + 
					document.documentElement.scrollLeft;
					posy = e.clientY + document.body.scrollTop + 
					document.documentElement.scrollTop;
				}

				return {x: posx, y: posy}
			}

			function positionMenu(e){
				clickCoords = getPosition(e);
				clickCoordsX = clickCoords.x;
				clickCoordsY = clickCoords.y;

				menuWidth = menu.offsetWidth + 4;
				menuHeight = menu.offsetHeight + 4;

				windowWidth = window.innerWidth;
				windowHeight = window.innerHeight;

				if((windowWidth - clickCoordsX) < menuWidth)
					menu.style.left = windowWidth - menuWidth + "px";
				else
					menu.style.left = clickCoordsX + "px";

				if((windowHeight - clickCoordsY) < menuHeight)
					menu.style.top = windowHeight - menuHeight + "px";
				else
					menu.style.top = clickCoordsY + "px";
			}

			function resizeListener(){
				window.onresize = function(e){
					toggleMenuOff();
				};
			}

			//Acciones al pulsar sobre un elemento del menú
			function menuItemListener(link){
				//id_item_clicked contiene el id del archivo clickado

				var accion = link.getAttribute("data-action"); //Contiene la acción seleccionada en el menú

				if(accion == "descargar")
					window.location = document.getElementById(id_item_clicked).href = "{% url 'descargarArchivo' %}?id_archivo=" + Number(id_item_clicked.replace('a',''));
				else if(accion == "compartir")
					compartirArchivo(Number(id_item_clicked.replace('a','')));
				else if(accion == "cambiar_nombre")
					if(id_item_clicked[0] == 'a')
						abrirCambiarNombre(Number(id_item_clicked.replace('a','')), 1);
					else
						abrirCambiarNombre(Number(id_item_clicked.replace('d','')), 0);
				else if(accion == "copiar")
					if(id_item_clicked[0] == 'a')
						getDirectoriosCopiar(Number(id_item_clicked.replace('a','')), 1);
					else
						getDirectoriosCopiar(Number(id_item_clicked.replace('d','')), 0);
				else if(accion == "mover"){
					if(id_item_clicked[0] == 'a')
						getDirectoriosMoverArchivo(Number(id_item_clicked.replace('a','')));
					else
						getDirectoriosMoverDirectorio(Number(id_item_clicked.replace('d','')));
				}
				else if(accion == "favorito"){
					if(document.getElementById("favorito").innerText == " Añadir a favoritos")
						window.location = document.getElementById(id_item_clicked).href = "{% url 'addFavoritos' %}?id_archivo=" + Number(id_item_clicked.replace('a','')) + "&pag_actual=contenidoMultimedia.html&tipo_contenido={{ tipo_contenido }}&directorio_actual={{ directorio_actual }}";
					else
						window.location = document.getElementById(id_item_clicked).href = "{% url 'delFavoritos' %}?id_archivo=" + Number(id_item_clicked.replace('a','')) + "&pag_actual=contenidoMultimedia.html&tipo_contenido={{ tipo_contenido }}&directorio_actual={{ directorio_actual }}";
				}
				else if(accion == "eliminar")
					if(id_item_clicked[0] == 'a')
						comprobarEliminarArchivo(Number(id_item_clicked.replace('a','')));
					else
						comprobarEliminarDirectorio(Number(id_item_clicked.replace('d','')));
				
				toggleMenuOff();
			}

			//Iniciar el menú
			init();

		})();

	</script>
{% endblock %}