{% extends "base.html" %}
{% block cabecera %}
    <li><a href="{% url 'index' %}">Documentos</a></li>
    <li><a href="{% url 'multimedia' %}">Multimedia</a></li>
    <li><a href="{% url 'compartido' %}">Compartido</a></li>
    <li><a href="{% url 'favoritos' %}">Favoritos</a></li>
    <li class="active"><a href="">Grupo de trabajo</a></li>
{% endblock %}
{% block contenido_body %}
	<div class='container-fluid'>
		<div class='row'>
			<div id='ver_grupos' class='col-xs-12 col-md-6 col-lg-6'>
				<div class="opciones_gt">
					<img src='/static/images/group.png'>
					<h3>Ver mis grupos</h3>
				</div>
			</div>
			<div id='crear_grupo' class='col-xs-12 col-md-6 col-lg-6'>
				<div class="opciones_gt">
					<img src='/static/images/add-group.png'>
					<h3>Crear un grupo</h3>
				</div>
			</div>
		</div>
	</div>

	<!-- PopUp para ver los grupos del usuario -->
	<div id="abrirPopUpVerGrupos" class="popUp">
		<div>
			<a href="#close" title="Close" class="close">X</a>
			<label id="num_grupos"></label>
			<ul id="grupos" class="verGrupos">
				<!-- Código insertado desde javascript -->
			</ul>
		</div>
	</div>

	<!-- PopUp para crear un grupo de trabajo -->
	<div id="abrirPopUpCrearGrupo" class="popUp">
		<div>
			<a href="#close" title="Close" class="close">X</a>
			<form action="javascript:crearGrupoTrabajo();" method="POST">
				{% csrf_token %}
				<input type="text" id="nombre_grupo" name="nombre_grupo" placeholder="Nombre del grupo de trabajo" required/>
				<input type="submit" value="Crear grupo" class="btn btn-default" />
			</form>
		</div>
	</div>

	<div id="snackbar" ></div>

	
	<script type="text/javascript">

		function mostrarSnackbar(texto) {
			var x = document.getElementById("snackbar")
			x.innerHTML = texto;
			x.className = "show";
			setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
		}

		$('#ver_grupos').click(function(event){
			getGruposTrabajo();
		})

		$('#crear_grupo').click(function(event){
			window.location = document.getElementById('abrirPopUpCrearGrupo').href = "#abrirPopUpCrearGrupo";
		})

		//Función que se encarga de pedir y recibir los archivos del usuario
	    function getGruposTrabajo(){
	        $.ajax({
	            url : "{% url 'getGruposTrabajo' %}",
	            data : {
	                
	            },
	            type : 'GET',
	            dataType: 'json',
	            success : function(datos){
	            	document.getElementById('grupos').innerHTML = "";
	            	var num_grupos = 0;
 					for(var i in datos){
						document.getElementById('grupos').innerHTML += "<li id='"+ datos[i][0] +"' data-toggle='tab' data-target='#" + datos[i][0] + "'>" + datos[i][1] + "</li>";
						num_grupos++;
 					}
 					document.getElementById('num_grupos').innerHTML = "Perteneces a : " + num_grupos + " grupos";

 					window.location = document.getElementById('abrirPopUpVerGrupos').href = "#abrirPopUpVerGrupos";

	            	//Acción al pulsar sobre un elemento del menú
	            	$("#grupos li").click(function( event ) {
			            var id = this.id;
			        	if(id != 0){
			        		window.location.href = "{% url 'contenidoGrupoTrabajo' %}?id_grupo=" + id + "&directorio_actual=0&nombre_grupo=" + datos[id][1];
			        	}
			        });
	            },
	            failure : function(datos){
	                alert("Error: no se pudo realizar la consulta");
	            },
	            complete : function(datos) {
	                console.log('Petición realizada');
	            }
	     	});
	    }

	    //Función para crear un grupo de trabajo
	    function crearGrupoTrabajo(){
	   		var nombre_grupo = document.getElementById('nombre_grupo').value;
	   		mostrarSnackbar("Grupo " + nombre_grupo + " creado");
	   		setTimeout(function() {
			    window.location.href = "{% url 'crearGrupoTrabajo' %}?nombre_grupo=" + nombre_grupo + "&directorio_actual=0";
			}, 1800);
	   	}

	</script>

{% endblock %}