{% extends "base.html" %}
{% block contenido_body %}

<!-- pop-up para la subida de archivos -->
<div id= "popup" class="popup">
	<span class="popuptext" id="myPopup" class="popup"></span>
	<!-- Código insertado desde javascript  -->
</div>

<!-- Añadir el botón para cambiar a vista lista/cuadricula -->
<p class="pull-right visible-xs">
    <button id="bt_offcanvas" type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Mostrar opciones</button>
</p>
<div id="cambiar_vista">
    <!-- Código insertado desde javascript  -->
</div>

<div id="vista_documentos" class="col-xs-10 col-md-10 col-lg-10">
    <!-- Código insertado desde javascript  -->
</div> <!-- vista_documentos -->

<div class="col-xs-6 col-sm-2" id="sidebar">
	<input type="file" id="upload" name="upload" style="visibility: hidden" multiple />
	<ul class="nav nav-pills nav-stacked row-offcanvas row-offcanvas-right sidebar-offcanvas">
		<li class="active"><a href="#">Opciones</a></li>
		<li class="barra"><a href="" onclick="document.getElementById('upload').click(); return false">Subir archivo</a></li>
		<li class="barra"><a href="#">Crear carpeta</a></li>
	</ul>
</div>

{% endblock %}	