{% extends "base.html" %}

{% block header %}
	<script>
		var my_var = "{{ usuario.username }}";
	</script>
{% endblock %}

{% block contenido_body %}

<!-- pop-up para la subida de archivos -->
<div id='popup' class='popup'>
	<div id="div_popup" class='popuptext'>
		<!-- Código insertado desde javascript  -->
	</div>
</div>

<!-- Añadir el botón para cambiar a vista lista/cuadricula -->
<p class="pull-right visible-xs">
    <button id="bt_offcanvas" type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Mostrar opciones</button>
</p>
<div id="cambiar_vista">
    <!-- Código insertado desde javascript  -->
</div>

<div id="vista_documentos" class="col-xs-10 col-md-10 col-lg-10">
    <!-- Código insertado desde javascript  -->
</div> <!-- vista_documentos -->

<div class="col-xs-6 col-sm-2" id="sidebar">
	<input type="file" id="upload" name="upload" style="visibility: hidden" multiple />
	<ul class="nav nav-pills nav-stacked row-offcanvas row-offcanvas-right sidebar-offcanvas">
		<li class="active"><a href="#">Opciones</a></li>
		<li class="barra"><a href="" onclick="document.getElementById('upload').click(); return false">Subir archivo</a></li>
		<li class="barra"><a href="#">Crear carpeta</a></li>
	</ul>

	<form action="{{ request.build_absolute_uri }}upload/" method="POST" enctype="multipart/form-data">
		{% csrf_token %} 
		<input type="file" name="file"/>
		<br />
		<input type="submit" value="Upload File" />
	</form>
</div>

<input type="hidden" id="django_var" value="{{ usuario.username }}" />

{% endblock %}	