{% extends "base.html" %}
{% block cabecera %}
    <li><a href="{% url 'index' %}">Documentos</a></li>
    <li><a href="{% url 'multimedia' %}">Multimedia</a></li>
    <li><a href="{% url 'compartido' %}">Compartido</a></li>
    <li><a href="{% url 'favoritos' %}">Favoritos</a></li>
    <li><a href="{% url 'grupoTrabajo' %}">Grupo de trabajo</a></li>
    <li class="active"><a href="">Mi perfil</a></li>
{% endblock %}

{% block contenido_body %}
	<div id="div_img_perfil">
		
	</div>
	<div class="info_usuario">
		<button class="btn btn-primary">Editar información</button>
		<button class="btn btn-danger" onclick="abrirPopUpEliminarCuenta()">Eliminar cuenta</button>
		<h4><span class="letra_azul">Username: {{ username }}</span></h4>
		<h4><span class="letra_azul">Email: {{ email }}</span></h4>
		<h4 id="espacio_ocupado"></h4>
	</div>

	<!-- PopUp para subir un archivo -->
	<div id="popUpcargarImgPerfil" class="popUp">
		<div>
			<a href="#close" title="Close" class="close">X</a>
			<form action="{% url 'cargarImgPerfil' %}" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<input type="file" name="file" class="input_file btn btn-default" accept="image/*" required />
				<br />
				<input type="submit" value="Establecer como imagen de perfil" class="input_file btn btn-default" />
			</form>
		</div>
	</div>

	<!-- PopUp para eliminar la cuenta -->
	<div id="abrirPopUpEliminarCuenta" class="popUp">
		<div>
			<a href="#close" title="Close" class="close">X</a>
			<form action="javascript:eliminarCuenta();" method="POST">
				{% csrf_token %}
				<label>¿Realmente desea eliminar la cuenta y todos su cotenido?</label>
				<input type="submit" value="Eliminar cuenta" class="input_file btn btn-default" />
			</form>
		</div>
	</div>

	<script type="text/javascript">

		//Obtener la imagen de perfil del usuario
		$.ajax({
            url : "{% url 'getImgPerfil' %}",
            data : {
                
            },
            type : 'GET',
            dataType: 'json',
            success : function(nombre_img){
				document.getElementById('div_img_perfil').innerHTML = "<img id='img_perfil' src='" + nombre_img + "'>";
            },
            failure : function(datos){
                alert("Error: no se pudo realizar la consulta");
            },
            complete : function(datos) {
                console.log('Petición realizada');
            }
     	});

		//Obtener el espacio ocupado por los archivos del usuario
     	$.ajax({
            url : "{% url 'getEspacioOcupado' %}",
            data : {
                
            },
            type : 'GET',
            dataType: 'json',
            success : function(espacio_ocupado){
				document.getElementById("espacio_ocupado").innerHTML = "<span class='letra_azul'>Espacio ocupado: " + mostrarTam(espacio_ocupado) + " de 2 GB</span>";
            },
            failure : function(datos){
                alert("Error: no se pudo realizar la consulta");
            },
            complete : function(datos) {
                console.log('Petición realizada');
            }
     	});

     	//Cargar el PopUp para establecer una nueva imagen de perfil
		$("#div_img_perfil").click(function(event){
            window.location=document.getElementById('popUpcargarImgPerfil').href = "#popUpcargarImgPerfil";
        });

		//Cargar el PopUp para eliminar la cuenta
        function abrirPopUpEliminarCuenta(){
        	window.location = document.getElementById('abrirPopUpEliminarCuenta').href = "#abrirPopUpEliminarCuenta";
        }

        //Eliminar la cuenta del usuario
        function eliminarCuenta(){
        	$.ajax({
	            url : "{% url 'eliminarCuenta' %}",
	            data : {
	                
	            },
	            type : 'GET',
	            dataType: 'json',
	            success : function(datos){
					window.location.href = "{% url 'auth_logout' %}";
	            },
	            failure : function(datos){
	                alert("Error: no se pudo realizar la consulta");
	            },
	            complete : function(datos) {
	                console.log('Petición realizada');
	            }
	     	});
        }

        //Dar formato al tamaño del archivo
	    function mostrarTam(tam){
	    	n = parseInt(tam);
	    	if(n > (1204 * 1024 * 1024)){
	    		n = n / (1204 * 1024 * 1024)
	    		res = n.toString();
	    		return res.substring(0, 5) + " GB";
	    	}
	    	else if(n > (1204 * 1024)){
	    		n = n / (1204 * 1024)
	    		res = n.toString();
	    		return res.substring(0, 5) + " MB";
	    	}
	    	else if(n > 1204){
	    		n = n / 1204
	    		res = n.toString();
	    		return res.substring(0, 5) + " KB";
	    	}
	    	else{
	    		res = n.toString();
	    		return res.substring(0, 5) + " B";
	    	}
	    }

	</script>
{% endblock %}