{% extends "base.html" %}
{% block cabecera %}
    <li><a href="{% url 'index' %}">Documentos</a></li>
    <li><a href="{% url 'multimedia' %}">Multimedia</a></li>
    <li><a href="{% url 'compartido' %}">Compartido</a></li>
    <li><a href="{% url 'favoritos' %}">Favoritos</a></li>
    <li><a href="{% url 'grupoTrabajo' %}">Grupo de trabajo</a></li>
    <li class="active"><a href="">Mi perfil</a></li>
{% endblock %}

{% block contenido_body %}
	<img id="img_perfil" src='/static/images/user_grande.png'>
	<div class="info_usuario">
		<button class="btn btn-primary">Editar información</button>
		<button class="btn btn-danger">Eliminar cuenta</button>
		<h4><span class="letra_azul">Nombre: José Manuel Rejón Santiago</span></h4>
		<h4><span class="letra_azul">Username: nombre_usuario</span></h4>
		<h4><span class="letra_azul">Email: emailusuario@correo.com</span></h4>
		<h4><span class="letra_azul">Tipo de cuenta: x</span></h4>
	</div>
{% endblock %}